<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#afc43f" type="ball-clip-rotate">
</ngx-spinner>
<div class="container-fluid container-page">
    <div class="row">
        <div class="col">
            <div class="card nxr_card ">
                <h6 class="card-header">Evaluación {{ year }}</h6>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label class="label-info text-green">INDICADOR</label>
                            <p class="text-justify text-lightblue">{{ indicator?.indicator }}</p>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-borderless table-striped">
                            <thead class="card-thead">
                                <tr>
                                    <th scope="col">MES</th>
                                    <th scope="col">PROGRESO</th>
                                    <th scope="col">EVIDENCIA</th>
                                    <th scope="col">PLAN DE ACCIÓN</th>
                                    <th scope="col">FECHA COMPROMISO</th>
                                    <th scope="col">ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let month of evaluation">
                                    <td>{{ months[month.month - 1] }}</td>
                                    <td>
                                        <h5 *ngIf="(month.month <= currentMonth + 1 && month.progress != null && month.registered && currentMonth > 0 && currentEval) || (month.month <= 12 + 1 && month.progress != null && month.registered && currentMonth == 0 && currentEval) || (month.progress != null && month.registered && !currentEval)"><span class="text-white badge" [ngClass]="{'badge-danger': month.color==='red', 'badge-warning': month.color==='yellow', 'badge-success': month.color==='green'}">{{ month.progress }}%</span></h5>
                                        <span *ngIf="(month.month < currentMonth + 1 && month.progress != null && !month.registered && currentMonth > 0 && currentEval) || (month.month <= 12 && month.progress != null && !month.registered && currentMonth == 0 && currentEval) || (month.progress != null && !month.registered && !currentEval)">Sin Registro</span>
                                        <span *ngIf="(month.month < currentMonth + 1 && month.progress == null && !month.registered && currentMonth > 0 && currentEval) || (month.month <= 12 && month.progress == null && !month.registered && currentMonth == 0 && currentEval) || (month.progress == null && !month.registered && !currentEval)"
                                            data-toggle="tooltip" data-placement="top" title="No Aplica">N/A</span>
                                        <span *ngIf="month.month > currentMonth && currentMonth > 0 && currentEval">-</span>
                                    </td>
                                    <td>
                                        <span *ngIf="(month.month <= currentMonth + 1 && month.progress != null && currentMonth > 0 && currentEval) || (month.month <= 12 && month.progress != null && currentMonth == 0 && currentEval) || (month.progress != null && !currentEval)">{{ month.evidence }}</span>
                                        <span *ngIf="(month.month < currentMonth + 1 && month.progress != null && !month.registered && currentMonth > 0 && currentEval) || (month.month <= 12 && month.progress != null && !month.registered && currentMonth == 0 && currentEval) || (month.progress != null && !month.registered && !currentEval)">Sin Registro</span>
                                        <span *ngIf="(month.month < currentMonth + 1 && month.progress == null && currentMonth > 0 && currentEval) || (month.month <= 12 && month.progress == null && currentMonth == 0 && currentEval) || (month.progress == null && !currentEval)" data-toggle="tooltip"
                                            data-placement="top" title="No Aplica">N/A</span>
                                        <span *ngIf="month.month > currentMonth && currentMonth > 0 && currentEval">-</span>
                                    </td>
                                    <td>
                                        <span *ngIf="(month.month <= currentMonth + 1 && month.registered && currentMonth > 0 && currentEval) || (month.month <= 12 && month.registered && currentMonth == 0 && currentEval) || (month.registered && !currentEval)">{{ month.action }}</span>
                                        <span *ngIf="(month.month < currentMonth + 1 && month.progress == null && currentMonth > 0 && currentEval) || (month.month <= 12 && month.progress == null && currentMonth == 0 && currentEval) || (month.progress == null && !currentEval)" data-toggle="tooltip"
                                            data-placement="top" title="No Aplica">N/A</span>
                                        <span *ngIf="(month.month < currentMonth + 1 && month.progress == 0 && !month.action && currentMonth > 0 && currentEval) || (month.month <= 12 && month.progress == 0 && !month.action && currentMonth == 0 && currentEval) || (month.progress == 0 && !month.action && !currentEval)">Sin Registro</span>
                                        <span *ngIf="(month.month > currentMonth && currentMonth > 0 && currentEval) || month.color==='green'">-</span>
                                    </td>
                                    <td>
                                        <span *ngIf="(month.month <= currentMonth + 1 && month.progress != null && currentMonth > 0 && currentEval) || (month.month <= 12 && month.progress != null && currentMonth == 0 && currentEval) || (month.progress != null && !currentEval)">{{ ( month.commitmentDate | date: 'dd/MM/yyyy' ) }}</span>
                                        <span *ngIf="(month.month < currentMonth + 1 && month.progress == null && currentMonth > 0 && currentEval) || (month.month <= 12 && month.progress == null && currentMonth == 0 && currentEval) || (month.progress == null && !currentEval)" data-toggle="tooltip"
                                            data-placement="top" title="No Aplica">N/A</span>
                                        <span *ngIf="(month.month < currentMonth + 1 && month.progress == 0 && !month.commitmentDate && currentMonth > 0 && currentEval) || (month.month <= 12 && month.progress == 0 && !month.commitmentDate && currentMonth == 0 && currentEval) || (month.progress == 0 && !month.commitmentDate && !currentEval)">Sin Registro</span>
                                        <span *ngIf="(month.month > currentMonth && currentMonth > 0 && currentEval) || month.color==='green'">-</span>
                                    </td>
                                    <td class="d-flex align-items-center">
                                        <a *ngIf="(!month.validated && month.month <= currentMonth && month.progress != null  && !isOwner && currentMonth > 0 && currentEval && !isCEO) || (!month.validated && month.month <= 12 && month.progress != null  && !isOwner && currentMonth == 0 && currentEval && !isCEO)"
                                            class="text-mexicanPink btn-action" data-toggle="modal" data-target="#UpdateProgressModal" (click)="resetForm(month)"><i class="far fa-check-circle"></i></a>
                                        <a *ngIf="(!month.validated && month.month == currentMonth  && month.progress != null && isOwner && onTime && currentMonth > 0) || (!month.validated && month.month == 12  && month.progress != null && isOwner && onTime && currentMonth == 0)" class="text-mexicanPink btn-action"
                                            data-toggle="modal" data-target="#UpdateProgressModal" (click)="resetForm(month)"><i class="far fa-check-circle"></i></a>
                                        <span *ngIf="month.validated" class="badge badge-date badge-pill">Validado</span>
                                        <span *ngIf="(!month.validated && month.registered && month.month <= currentMonth + 1 && month.progress != null && currentMonth > 0 && currentEval) || (!month.validated && month.registered && month.month <= 12 && month.progress != null && currentMonth == 0 && currentEval)"
                                            class="badge badge-blue badge-pill">Por validar</span>
                                        <span *ngIf="(!month.validated && !month.registered && month.month <= currentMonth && month.progress != null && currentMonth > 0 && currentEval) || (!month.validated && !month.registered && month.month < 12 && month.progress != null && currentMonth == 0 && currentEval) || (!month.validated && !month.registered && month.progress != null && !currentEval)"
                                            class="badge badge-blue badge-pill">Sin registro</span>
                                        <span *ngIf="(!month.validated && month.month > currentMonth && month.progress != null && currentMonth > 0 && currentEval) || (!month.validated && month.month == 12 && month.progress != null && currentMonth == 0 && currentEval)" class="badge badge-info badge-pill">Por evaluar</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit Progress -->
<div class="modal fade" id="UpdateProgressModal" tabindex="-1" role="dialog" aria-labelledby="UpdateProgressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Registra el cumplimiento de tu indicador</h6>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="modal-label text-green">INDICADOR</label>
                            <p class="data-info text-justify">{{ indicator?.indicator }}</p>
                        </div>
                        <div class="col-md-4">
                            <label class="modal-label text-green">META</label>
                            <p class="data-info">{{ indicator?.goal }}</p>
                        </div>
                        <div class="col-md-4">
                            <label class="modal-label text-green">FÓRMULA DE CÁLCULO</label>
                            <p class="data-info">{{ indicator?.formula }}</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <label class="modal-label text-green">SEMÁFORO VERDE</label>
                            <h3><span class="badge badge-success">{{ colors?.green.min }}% - {{colors?.green.max}}%</span></h3>
                        </div>
                        <div class="col-md-4 text-center">
                            <label class="modal-label text-green">SEMÁFORO AMARILLO</label>
                            <h3><span class="badge badge-warning text-white">{{ colors?.yellow.min }}% - {{colors?.yellow.max}}%</span></h3>
                        </div>
                        <div class="col-md-4 text-center">
                            <label class="modal-label text-green">SEMÁFORO ROJO</label>
                            <h3><span class="badge badge-danger">{{ colors?.red.min }}% - {{colors?.red.max}}%</span></h3>
                        </div>
                    </div>
                    <br>
                    <form [formGroup]="progressForm" (ngSubmit)="updateIndicator()" novalidate="novalidate">
                        <div class="row">
                            <div class="form-group col-md-4 pl-0">
                                <label class="modal-label text-green" for="nameInputProgress">CUMPLIMIENTO <small>(0-100%)</small></label>
                                <input type="number" min="0" max="100" class="form-control input-border-bottom" id="nameInputProgress" [ngClass]="{ 'is-invalid': !progressForm.controls['progress'].valid }" formControlName="progress" #box (keyup)="validateProgress(box.value)">
                                <small *ngIf="progressForm.controls['progress'].errors?.required" class="invalid-feedback">Este atributo es obligatorio.</small>
                                <small *ngIf="progressForm.controls['progress'].errors?.min" class="invalid-feedback">El avance no puede ser menor a 0%.</small>
                                <small *ngIf="progressForm.controls['progress'].errors?.max" class="invalid-feedback">El avance no puede ser mayor a 100%.</small>
                            </div>
                            <div class="form-group col-md-8 pl-0">
                                <label class="modal-label text-green" for="evidenceIputProgress">EVIDENCIA</label>
                                <input type="text" class="form-control input-border-bottom" id="evidenceIputProgress" [ngClass]="{ 'is-invalid': !progressForm.controls['evidence'].valid }" placeholder="Describe la evidencia de acreditación" formControlName="evidence">
                                <small *ngIf="progressForm.controls['evidence'].errors?.required" class="invalid-feedback">Este atributo es obligatorio.</small>
                            </div>
                            <div *ngIf="!asExpected" class="form-group col-md-6 pl-0">
                                <label class="modal-label text-green" for="actionIputProgress">PLAN DE ACCIÓN</label>
                                <input type="text" class="form-control input-border-bottom" id="actionIputProgress" [ngClass]="{ 'is-invalid': !progressForm.controls['action'].valid }" placeholder="Describe el plan de acción" formControlName="action">
                                <small *ngIf="progressForm.controls['action'].errors?.required" class="invalid-feedback">Este atributo es obligatorio.</small>
                            </div>
                            <div *ngIf="!asExpected" class="form-group col-md-6 pl-0">
                                <label class="modal-label text-green" for="commitmentDateputProgress">FECHA COMPROMISO</label>
                                <input type="text" class="form-control input-border-bottom" id="commitmentDateputProgress" [ngClass]="{ 'is-invalid': !progressForm.controls['commitmentDate'].valid }" placeholder="dd/mm/aaaa" formControlName="commitmentDate">
                                <small *ngIf="progressForm.controls['commitmentDate'].errors?.required" class="invalid-feedback">Este atributo es obligatorio.</small>
                            </div>
                        </div>
                        <div class="text-center text-mexicanPink" *ngIf="errorMessage">
                            <span>{{ errorMessage }}</span>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-green" *ngIf="isOwner">Registrar cumplimiento</button>
                            <button type="submit" class="btn btn-green" *ngIf="!isOwner">Validar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Edit Progress -->