<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#afc43f" type="ball-clip-rotate">
</ngx-spinner>
<div class="container-fluid container-page">
    <div class="row">
        <div class="col">
            <div class="card nxr_card ">
                <h6 class="card-header">Editar Descripción de Puesto</h6>
                <div class="card-body">
                    <div class="container-fluid">

                        <app-job-description-form (dataForm)="editDescription( $event )"></app-job-description-form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>