<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#afc43f" type="ball-clip-rotate">
</ngx-spinner>
<div class="container-fluid container-page">
    <div class="row">
        <div class="col-md-12">
            <div class="card nxr_card ">
                <h6 class="card-header">Asignaciones</h6>
                <div class="card-body">
                    <app-vacancies-list [vacancies]="assignments" [type]="'assignments'" [currentPage]="currentPageReq" (assignRecruiter)="assignRequisition($event)"></app-vacancies-list>
                    <app-pagination *ngIf="totalPagesReq > 1" (selectedPage)="getAllAssignmentsByStatus( $event )" [totalPages]="totalPagesReq" [pages]="pagesReq"></app-pagination>
                </div>
            </div>
        </div>
    </div>
</div>